*{
    padding: 0;
    margin: 0;
}

body{
    background-color:coral;
    color:yellow;
}

.botonCarrito{
    background-color: rgb(0, 194, 253);   
}

.fondoClaro{
    background-color: rgb(214, 115, 79);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.pie-pagina{
    width: 100%;
    background-color:rgb(136, 68, 43);
    height: 300px;
    margin-top: 119px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
    
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
}

.h2Footer{
    margin-right: 150px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-top: 40px;
    font-size: 17px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(214, 115, 79);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(156, 156, 156);
}
.pie-pagina .grupo-2{
    background-color:rgb(117, 117, 117);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    margin-top: -37px;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}